@import url(common.css);
body {
    background: #fafafa;
}

.wrap {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background: #fafafa;
}

.visual_box {
    width: 100%;
    height: 226px;
    background: url(../img/bg_classtour.jpg) no-repeat center center;
    margin: 0 auto 80px;
}

.visual_box div {
    width: 100%;
    height: 100%;
}

.visual_box div h2 {
    text-align: center;
    height: 100%;
    line-height: 226px;
    color: #fff;
    font-size: 3.333em;
}

.content_box {
    position: relative;
}

.content_box .sub_menu {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    margin-bottom: 75px;
    cursor: pointer;
}

.content_box .sub_menu li {
    padding: 10px;
}

.content_box .sub_menu li:after {
    content: "";
    display: block;
    height: 3px;
    width: 0;
    background: #fdd000;
    margin: 3px auto 0;
    transition: width .5s;
}

.content_box .sub_menu li:hover,
.content_box .sub_menu li.on {
    color: #fdd000;
}

.content_box .sub_menu li:hover:after,
.content_box .sub_menu li.on:after {
    width: 100%;
}

.content_box .calander {
    width: 100%;
}

.content_box .calander input {
    display: none;
}

.content_box .calander label {
    width: 45px;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.content_box .calander label figure {
    width: 100%;
}

.content_box .calander label figure img {
    width: 100%;
}

.content_box .calander label figcaption {
    font-size: 0.7em;
    color: #f19149;
}

.content_box .con_list {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.content_box .con_list > div {
    margin-bottom: 55px;
}

.content_box .con_list > div em {
    font-style: normal;
    font-size: 1.111em;
    font-weight: bold;
}

.content_box .con_list > div small {
    padding-left: 35px;
    color: #999;
    font-size: 0.9em;
}

.content_box .con_list > ul {
    display: flex;
    justify-content: space-between;
    margin-bottom: 90px;
}

.content_box .con_list > ul > li {
    width: 47%;
    display: flex;
    justify-content: flex-start;
    position: relative;
}

.content_box .con_list > ul li figure {
    height: 300px;
}

.content_box .con_list > ul li figure img {
    height: 100%;
}

.content_box .con_list > ul li figcaption {
    margin-left: 5%;
    padding: 7px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content_box .con_list > ul li figcaption div {}

.content_box .con_list > ul li figcaption div strong {
    font-size: 1.111em;
    vertical-align: middle;
    padding-right: 10px;
}

.content_box .con_list > ul li figcaption div span {
    padding: 5px 12px;
    font-size: 0.833em;
    border-radius: 30px;
    color: #fff;
    color: #fff;
    text-align: center;
    overflow: hidden;
    vertical-align: middle;
}

.content_box .con_list > ul li figcaption div span:nth-of-type(1) {
    width: 70px;
    background: #f19149;
}

.content_box .con_list > ul li figcaption div span:nth-of-type(2) {
    width: 77px;
    background: #ec6941;
}

.content_box .con_list > ul li figcaption em {
    font-style: normal;
    color: #999;
    font-size: 0.833em;
}

.content_box .con_list > ul li figcaption ul {
    width: 100%;
}

.content_box .con_list > ul li figcaption ul li {
    width: 100%;
    padding: 5px 0;
}

.content_box .con_list > ul li figcaption a {
    width: 90px;
    border: 2px solid #333;
    font-size: 0.833em;
    line-height: 2.5em;
    text-align: center;
    margin-top: 10px;
    transition: background .5s;
}

.content_box .con_list > ul li figcaption a:hover {
    background: #333;
    color: #fff;
}

.content_box .con_list > ul li div {}

.content_box .con_list > ul li:nth-of-type(2) div span:nth-of-type(2) {
    display: none;
}

.content_box .list_control {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 150px 0;
}

.content_box .list_control > a {
    font-size: 0.833em;
    padding: 10px;
}

.content_box .list_control > a:hover {
    font-weight: bold;
}

.content_box .list_control ul {
    display: flex;
    margin: 0 60px;
}

.content_box .list_control ul li {
    margin: 0 7px;
    position: relative;
}

.content_box .list_control ul li a {
    padding: 10px;
}

.content_box .list_control ul li a:after {
    content: "";
    width: 30px;
    height: 30px;
    border-radius: 15px;
    border: 1px solid #fdd000;
    position: absolute;
    top: 5px;
    left: 0;
    display: none;
}

.content_box .list_control ul li.on a:after {
    display: block;
    background: #fdd000;
}

.content_box .list_control ul li:hover a:after {
    display: block;
}

.bottom_box {
    width: 1460px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 90px;
}

.bottom_box .list {
    width: 65%;
}

.bottom_box .list span {
    margin-bottom: 15px;
    padding: 0 5px;
    display: flex;
    justify-content: space-between;
}

.bottom_box .list span em {
    font-style: normal;
    font-size: 1.389em;
    font-weight: bold;
}

.bottom_box .list span a {
    color: #999;
    font-size: 0.833em;
}

.bottom_box .list ul {
    width: 100%;
}

.bottom_box .list ul li {
    background: #fff;
    width: 100%;
    transition: background .5s;
}

.bottom_box .list ul li a {
    width: 100%;
    line-height: 3.5em;
    padding: 0 30px;
    color: #666;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.bottom_box .list ul li a em {
    color: #666;
    font-style: normal;
    font-weight: bold;
}

.bottom_box .list ul li:hover {
    background: #eee;
}

.bottom_box .banner {
    width: 30%;
    height: 440px;
    background: url(../img/pattern.png);
    overflow: hidden;
    position: relative;
    padding: 30px;
}

.bottom_box .banner figure {
    width: 100%;
    height: 100%;
    background: #fff;
    position: relative;
    padding: 50px 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.bottom_box .banner figure div {}

.bottom_box .banner figure mark {
    background: #6cc;
    padding: 0 7px;
    height: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bottom_box .banner figure figcaption {
    font-size: 1.2em;
    line-height: 1.5em;
    font-weight: bold;
}

.bottom_box .banner figure small {
    font-size: 0.833em;
    color: #999;
}

.bottom_box .banner .circle {
    width: 110px;
    height: 110px;
    background: #f19149;
    border-radius: 55px;
    position: absolute;
    top: -55px;
    left: 50%;
    transform: translateX(-50%);
}

@media (max-width:1494px) {
    .content_box .con_list > ul {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .content_box .con_list > ul > li {
        width: 100%;
        margin-bottom: 40px;
    }
    .content_box .con_list > ul li figcaption {
        margin-left: 2%;
    }
    .bottom_box {
        width: 1300px;
    }
}

@media (max-width:1350px) {
    .bottom_box {
        width: 100%;
        padding: 0 100px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .bottom_box .list {
        width: 100%;
        margin-bottom: 30px;
    }
    .bottom_box .banner {
        width: 100%;
    }
}

@media (max-width: 930px) {
    .content_box {
        padding: 0 50px;
    }
    .content_box .calander label {
        right: 50px;
    }
}

@media (max-width: 768px) {
    .bottom_box {
        padding: 0 50px;
    }
    .content_box .con_list > ul li figcaption em {
        display: none;
    }
    .content_box .con_list > div {
        display: none;
    }
    .content_box .calander {
        display: none;
    }
}

@media (max-width:480px) {
    .visual_box div h2 {
        font-size: 2.5em;
    }
    .bottom_box {
        display: none;
    }
    .content_box .list_control ul {
        margin: 0 30px;
    }
    .content_box .con_list > ul li figure {display: none;}
}