@import url(common.css);
body {
    background: #fafafa;
}

.wrap {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background: #fafafa;
}

article {
    width: 60%;
    margin: 0 auto;
}

article .art_header {
    width: 100%;
    padding: 70px 0 50px;
    position: relative;
}

article .art_header span:nth-of-type(1) {
    color: #999;
}

article .art_header small {
    font-size: 0.833em;
    color: #999;
}

article .art_header div {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 20px;
}

article .art_header h2 {
    font-size: 2.778em;
}

article .art_header span:nth-of-type(2) {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 70px;
    right: 0;
    cursor: pointer;
}

article .art_header span img {
    width: 100%;
}

article .art_nav {
    width: 100%;
    text-align: center;
}

article .art_nav span {
    width: 40px;
    height: 5px;
    background: #ccc;
    margin: 10px 3px 20px;
    cursor: pointer;
}

article .art_nav span.on {
    background: #999;
}

article .art_con {
    width: 100%;
}

article .art_con figure {
    width: 100%;
    position: relative;
    top: 0;
    bottom: 0;
    margin-bottom: 10px;
    overflow: hidden;
}

article .art_con figure div {
    width: 100%;
    font-size: 0;
    display: flex;
}

article .art_con figure div.more:after {
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: .5s;
}

article .art_con figure:hover div.more:after {
    opacity: 1;
}

article .art_con figure div img {
    width: 100%;
}

article .art_con figure span {
    font-size: 5em;
    color: #fff;
    position: absolute;
    top: 50%;
    z-index: 20;
    cursor: pointer;
    transform: translateY(-50%);
    transition: opacity .5s;
    opacity: 0;
}

article .art_con figure:hover span {
    opacity: 1;
}

article .art_con figure span:nth-of-type(1) {
    left: 20px;
}

article .art_con figure span:nth-of-type(2) {
    right: 20px;
}

article .art_con figure p {
    width: 65%;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: justify;
    color: #fff;
    line-height: 2em;
    opacity: 0;
    transition: opacity .5s;
    z-index: 10;
    transform: translateY(-50%) translateX(-50%);
}

article .art_con figure p.on {
    opacity: 1;
}

article .art_con figcaption {
    white-space: pre-line;
}

article .art_con figcaption p {
    line-height: 2em;
    text-align: justify;
}

article .art_con figcaption p small {font-weight: bold;}

article .art_con figcaption em {
    font-style: normal;
    font-weight: bold;
    font-size: 0.833em;
    line-height: 1.5em;
}

article .art_con figcaption .color {color: #900;}

article .art_con figcaption dl {
    line-height: 1.5em;
}

article .art_con figcaption dl dt {
    font-size: 0.833em;
    display: inline-block;
    font-weight: bold;
}

article .art_con figcaption dl dd {
    font-size: 0.833em;
    display: inline-block;
}

article .art_footer {
    padding: 50px 0 100px;
}

article .art_footer span {
    display: block;
    font-size: 0.833em;
    color: #999;
    line-height: 1.5em;
}

article .art_footer div {
    width: 100%;
    height: 2px;
    background: #ddd;
    margin: 20px auto 40px;
}

article .art_footer a {
    display: block;
    width: 100px;
    margin: 0 auto;
    text-align: center;
    line-height: 40px;
    font-size: 0.833em;
    border: 2px solid #333;
    transition: background .5s;
}

article .art_footer a:hover {
    background: #333;
    color: #fff;
}

@media (max-width:1350px) {
    article .art_header div {
        flex-direction: column;
        align-items: flex-start;
    }
    article .art_header h2 {
        margin-bottom: 20px;
    }
}

@media (max-width:550px) {
    article .art_header {
        padding: 120px 0 50px;
    }
    article .art_con figure div,
    article .art_con figure span,
    article .art_con figure p {
        transition: 0s;
    }
    article .art_con figure:hover div:after,
    article .art_con figure:hover span,
    article .art_con figure:hover p {
    opacity: 0;
}
}