@import url(common.css);
body {
    background: #fafafa;
}

.wrap {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background: #fafafa;
}

.visual_box {
    width: 100%;
    height: 226px;
    background: url(../img/bg_event_vis.jpg) no-repeat center center;
    margin: 0 auto 80px;
}

.visual_box div {
    width: 100%;
    height: 100%;
}

.visual_box div h2 {
    text-align: center;
    height: 100%;
    line-height: 226px;
    color: #fff;
    font-size: 3.333em;
}

.content_box figure {
    width: 100%;
    height: 315px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.content_box figure figcaption {
    width: 70%;
    background: #fff;
    padding: 75px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content_box figure > a {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

.content_box figure small {
    font-family: "Nanum Myeongjo", serif;
    font-size: 1.667em;
}

.content_box figure strong {
    font-size: 2.778em;
}

.content_box figure figcaption a {
    width: 90px;
    border: 2px solid #333;
    font-size: 0.833em;
    line-height: 2.5em;
    text-align: center;
    margin-top: 10px;
    transition: background .5s;
}

.content_box figure a:hover {
    background: #333;
    color: #fff;
}

.content_box figure img {
    width: 100%;
}

.content_box figure .con_button {
    position: relative;
}

.content_box figure .con_button a {
    position: absolute;
    width: 10px;
    height: 10px;
    top: 16px;
    right: 0;
    border: 2px solid #6cc;
    border-radius: 5px;
    transition: background .5s;
}

.content_box figure .con_button a:nth-of-type(1) {
    right: 50px;
}

.content_box figure .con_button a:nth-of-type(2) {
    right: 33px;
}

.content_box figure .con_button a:nth-of-type(3) {
    right: 16px;
}

.content_box figure .con_button a:hover,
.content_box figure .con_button a.on {
    background: #6cc;
}

.content_box .article_con {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow: hidden;
}

.content_box .article_con li {
    width: 414px;
    font-size: 0;
    position: relative;
    overflow: hidden;
}

.content_box .article_con li > a {
    width: 414px;
    height: 357px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content_box .article_con li a img {
    width: 100%;
}

.content_box .article_con li div {
    width: 100%;
    height: 145px;
    background: #fff;
    margin-bottom: 90px;
    position: relative;
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.content_box .article_con li div a {
    width: 100%;
    font-size: 1.389em;
    font-weight: bold;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.content_box .article_con li div span {
    line-height: 3em;
    font-size: 0.833em;
    color: #999;
}

.content_box .article_con li div img {
    height: 27px;
    position: absolute;
    bottom: 15%;
    right: 6%;
    ;
}

.content_box .list_control {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 150px 0;
}

.content_box .list_control > a {
    font-size: 0.833em;
    padding: 10px;
}

.content_box .list_control > a:hover {
    font-weight: bold;
}

.content_box .list_control ul {
    display: flex;
    margin: 0 60px;
}

.content_box .list_control ul li {
    margin: 0 7px;
    position: relative;
}

.content_box .list_control ul li a {
    padding: 10px;
}

.content_box .list_control ul li a:after {
    content: "";
    width: 30px;
    height: 30px;
    border-radius: 15px;
    border: 1px solid #fdd000;
    position: absolute;
    top: 5px;
    left: 0;
    display: none;
}

.content_box .list_control ul li.on a:after {
    display: block;
    background: #fdd000;
}

.content_box .list_control ul li:hover a:after {
    display: block;
}

.bottom_box {
    width: 1460px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 90px;
}

.bottom_box .list {
    width: 65%;
}

.bottom_box .list span {
    margin-bottom: 15px;
    padding: 0 5px;
    display: flex;
    justify-content: space-between;
}

.bottom_box .list span em {
    font-style: normal;
    font-size: 1.389em;
    font-weight: bold;
}

.bottom_box .list span a {
    color: #999;
    font-size: 0.833em;
}

.bottom_box .list ul {
    width: 100%;
}

.bottom_box .list ul li {
    background: #fff;
    width: 100%;
    transition: background .5s;
}

.bottom_box .list ul li a {
    width: 100%;
    line-height: 3.5em;
    padding: 0 30px;
    color: #666;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.bottom_box .list ul li:hover {
    background: #eee;
}

.bottom_box .banner {
    width: 30%;
    height: 440px;
    background: url(../img/pattern.png);
    overflow: hidden;
    position: relative;
    padding: 30px;
}

.bottom_box .banner figure {
    width: 100%;
    height: 100%;
    background: #fff;
    position: relative;
    padding: 90px 0 50px;
    position: relative;
    top: 0;
    left: 0;
}

.bottom_box .banner figure div {
    position: absolute;
    top: 90px;
    left: 50%;
    z-index: 10;
    transform: translateX(-50%);
}

.bottom_box .banner figure mark {
    position: absolute;
    top: 250px;
    left: 50%;
    background: #6cc;
    padding: 0 7px;
    height: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 10;
    transform: translateX(-50%);
}

.bottom_box .banner figure figcaption {
    position: absolute;
    top: 300px;
    left: 50%;
    font-size: 0.833em;
    color: #999;
    z-index: 10;
    transition: color .5s;
    transform: translateX(-50%);
    text-align: center;
}

.bottom_box .banner:hover figure figcaption {
    color: #fff;
}

.bottom_box .banner .circle {
    width: 110px;
    height: 110px;
    background: #6cc;
    border-radius: 55px;
    position: absolute;
    top: -55px;
    left: 50%;
    transition: transform .5s;
    transform: translateX(-50%);
}

.bottom_box .banner:hover .circle {
    transform: scale(10);
}

@media (max-width:1494px) {
    .bottom_box {
        width: 1300px;
    }
}

@media (max-width:1350px) {
    .content_box figure {
        height: 280px;
    }
    .content_box figure small {
        font-size: 1.2em;
    }
    .content_box figure strong {
        font-size: 1.8em;
    }
    .bottom_box {
        width: 100%;
        padding: 0 100px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .bottom_box .list {
        width: 100%;
        margin-bottom: 30px;
    }
    .bottom_box .banner {
        width: 100%;
    }
}

@media (max-width:930px) {
    .content_box .article_con {
        justify-content: center;
    }
}

@media (max-width:860px) {
    .content_box figure {
        height: 250px;
    }
    .content_box figure figcaption {
        padding: 60px 50px;
    }
    .content_box .article_con li div {
        margin-bottom: 50px;
    }
}

@media (max-width: 768px) {
    .content_box figure {
        display: none;
    }
    .bottom_box {
        padding: 0 50px;
}

@media (max-width:480px) {
    .visual_box div h2 {
        font-size: 2.7em;
    }
    .content_box .list_control ul {
        margin: 0 30px;
    }
    .bottom_box {
        display: none;
    }
}