@import url(common.css);
body {
    background: #fafafa;
}

.wrap {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background: #fafafa;
}

header {
    width: 100%;
    height: 220px;
    padding: 80px 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
}

header h1 {
    display: inline-block;
}

header h1 a {
    width: 283px;
}

header h1 a img {
    width: 100%;
}

header .search_box {
    width: 760px;
    height: 62px;
    border: 3px solid #fdd000;
    position: relative;
    margin-right: 100px;
    padding: 2px 5px;
}

header .search_box input[type="text"] {
    border: none;
    padding: 15px 45px;
    outline-style: none;
    width: 90%;
}

header .search_box input[type="submit"] {display: none;}

header .search_box input::placeholder {
    color: #fdd000;
    font-weight: bold;
}

header .search_box label {
    width: 62px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 15px;
    padding: 15px;
}

header .search_box label img {
    width: 28px;
}

header .header_nav {}

header .header_nav a {
    padding: 10px 20px 10px 25px;
    font-weight: bold;
    vertical-align: middle
}

header .header_nav a:first-of-type {
    background-image: url(../img/icon_user.png);
    background-repeat: no-repeat;
    background-size: 0.8em;
    background-position: left center;
}

header .header_nav a:last-of-type {
    background-image: url(../img/icon_login.png);
    background-repeat: no-repeat;
    background-size: 0.8em;
    background-position: left center;
}

.visual_box {
    width: 100%;
    height: 815px;
    overflow: hidden;
    display: flex;
    position: relative;
    margin: 0 auto;
}

.visual_box figure {}

.visual_box figure img {}

.visual_box article {
    padding: 115px 65px 50px;
    background: #fff;
}

.visual_box article > span {}

.visual_box article h2 {
    padding: 3em 0;
}

.visual_box article h2 a {
    font-size: 2.778em;
}

.visual_box article p {
    height: 70%;
    text-align: justify;
    line-height: 2em;
    position: relative;
}

.visual_box article p img {
    width: 145px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.visual_box > a {}

.visual_box .vis_button {
    position: absolute;
    bottom: 20px;
    left: 45%;
}

.visual_box .vis_button a {
    width: 15px;
    height: 15px;
    background: rgba(255, 255, 255, .5);
    border-radius: 10px;
    margin: 5px;
    transition: width .5s, color .5s;
}

.visual_box .vis_button a.on {
    width: 45px;
    background: #fff;
}

.content_box {
    width: 1460px;
    margin: 0 auto;
}

.content_box .sub_menu {
    padding: 165px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.content_box .sub_menu li {
    padding: 10px;
}

.content_box .sub_menu li a {}

.content_box .sub_menu li a:after {
    content: "";
    display: block;
    height: 3px;
    width: 0;
    background: #fdd000;
    margin: 3px auto 0;
    transition: width .5s;
}

.content_box .sub_menu li:hover a,
.content_box .sub_menu li.on a {
    color: #fdd000;
}

.content_box .sub_menu li:hover a:after,
.content_box .sub_menu li.on a:after {
    width: 100%;
}

.content_box .class_event {
    border: 2px solid #ccc;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 90px;
}

.content_box .class_event .class_con {
    width: 70%;
}

.content_box .class_event .class_con .cl_title {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}

.content_box .class_event .class_con .cl_title span:first-of-type {
    font-size: 1.389em;
    font-weight: bold;
}

.content_box .class_event .class_con .cl_title a {
    font-size: 0.833em;
    font-weight: bold;
    color: #999;
}

.content_box .class_event .class_con .cl_list {
    width: 100%;
    height: 340px;
    background: url(../img/bg_class.jpg) no-repeat center center;
    background-size: cover;
    margin-top: 15px;
    position: relative;
}

.content_box .class_event .class_con .cl_list ul {
    width: 220px;
    height: 100%;
    display: flex;
    padding: 10px 0;
    flex-direction: column;
}

.content_box .class_event .class_con .cl_list ul li {
    width: 100%;
    height: 20%;
    margin: 2% 0;
    transition: width .5s, background .5s;
    background: rgba(0, 0, 0, .5);
    transform-origin: top left;
}

.content_box .class_event .class_con .cl_list ul li a {
    width: 100%;
    height: 100%;
    line-height: 3em;
    padding-left: 15px;
    color: #fff;
    background: url(../img/arrow_w.png) no-repeat right 13px center;
}

.content_box .class_event .class_con .cl_list ul li:hover,
.content_box .class_event .class_con .cl_list ul li.on {
    background: #fff;
    width: 250px;
}

.content_box .class_event .class_con .cl_list ul li:hover a,
.content_box .class_event .class_con .cl_list ul li.on a {
    color: #333;
    font-weight: bold;
    background: url(../img/arrow_b.png) no-repeat right 10px center;
}

.content_box .class_event .class_con .cl_list div {
    position: absolute;
    top: 13%;
    left: 35%;
    display: flex;
    flex-direction: column;
}

.content_box .class_event .class_con .cl_list div em {
    font-style: normal;
    line-height: 2em;
    font-weight: bold;
}

.content_box .class_event .class_con .cl_list div strong {
    white-space: pre-line;
    font-size: 1.5em;
    line-height: 1.5em;
}

.content_box .class_event .class_con .cl_list div small {
    font-size: 0.833em;
    line-height: 3em;
}

.content_box .class_event .class_con .cl_list div a {
    font-size: 0.833em;
    display: block;
    width: 150px;
    height: 48px;
    border: 2px solid #333;
    text-align: center;
    border-radius: 24px;
    line-height: 3em;
    margin-top: 17%;
    transition: background .5s;
}

.content_box .class_event .class_con .cl_list div a:hover {
    background: #333;
    color: #fff;
}

.content_box .class_event .event_con {
    width: 27%;
    background: url(../img/bg_event.png) no-repeat center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content_box .class_event .event_con span {
    padding: 20px 0 10px !important;
}

.content_box .class_event .event_con span img {
    transform: scale(.9)
}

.content_box .class_event .event_con a {
    font-size: 0.833em;
    display: block;
    width: 120px;
    height: 48px;
    border: 2px solid #333;
    text-align: center;
    border-radius: 24px;
    line-height: 3em;
    transition: background .5s;
}

.content_box .class_event .event_con a:hover {
    background: #333;
    color: #fff;
}

{}

.content_box .article_con {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow: hidden;
}

.content_box .article_con li {
    font-size: 0;
    position: relative;
    overflow: hidden;
}

.content_box .article_con li > a {
    width: 414px;
    height: 357px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content_box .article_con li > a:after {
    content: "";
    width: 100%;
    height: 357px;
    background: rgba(0, 0, 0, .5);
    position: absolute;
    top: -357px;
    left: 0;
    transition: top .5s;
}

.content_box .article_con li p {
    width: 414px;
    height: 357px;
    text-overflow: ellipsis;
    padding: 30px;
    text-align: justify;
    line-height: 2em;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    color: #fff;
    opacity: 0;
}

.content_box .article_con li:hover > a:after {
    top: 0;
}

.content_box .article_con li:hover p {
    opacity: 1;
    transition: opacity .5s;
}

.content_box .article_con li a img {
    width: 100%;
}

.content_box .article_con li div {
    width: 100%;
    height: 145px;
    background: #fff;
    margin-bottom: 90px;
    position: relative;
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.content_box .article_con li div a {
    font-size: 1.389em;
    font-weight: bold;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.content_box .article_con li div span {
    line-height: 3em;
    font-size: 0.833em;
    color: #999;
}

.content_box .article_con li div img {
    height: 27px;
    position: absolute;
    bottom: 15%;
    right: 6%;
    ;
}

.content_box > a {
    display: block;
    width: 150px;
    height: 50px;
    border: 2px solid #333;
    text-align: center;
    padding: 10px;
    line-height: 1.5em;
    margin: 0 auto;
    transition: background .5s;
}

.content_box > a:hover {
    background: #333;
    color: #fff;
}

.banner_box {
    width: 1460px;
    margin: 150px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner_box .banner_1 {
    width: 100%;
    height: 324px;
    background: url(../img/pattern.png);
    padding: 30px;
    overflow: hidden;
    position: relative;
    margin-bottom: 65px;
}

.banner_box .banner_1 div {
    width: 1400px;
    height: 264px;
    background: #fff;
    position: relative;
}

.banner_box .banner_1 div img {
    position: absolute;
    top: 40%;
    left: 438px;
    z-index: 10;
}

.banner_box .banner_1 div span {
    position: absolute;
    top: 70%;
    left: 0;
    z-index: 10;
    width: 100%;
    display: block;
    text-align: center;
}

.banner_box .banner_1 .circle {
    width: 186px;
    height: 186px;
    background: #fdd000;
    border-radius: 93px;
    position: absolute;
    top: -93px;
    left: 637px;
    transition: transform 1s;
}

.banner_box .banner_1:hover .circle {
    transform: scale(10)
}

.banner_box .banner_2 {
    width: 1460px;
    height: 240px;
    background: url(../img/bg_banner.jpg) no-repeat;
    background-size: cover;
    position: relative;
    padding: 90px;
    overflow: hidden;
}

.banner_box .banner_2 span {
    font-family: "Nanum Myeongjo", serif;
    color: #fff;
    white-space: pre-line;
    font-size: 1.4em;
    text-align: center;
    display: block;
    margin: 0 auto;
    line-height: 1.5em;
}

.banner_box .banner_2 img {
    position: absolute;
    bottom: 3%;
    right: 2%;
}

aside {
    display: flex;
    flex-direction: column;
}

aside a {
    width: 70px;
    height: 70px;
    border-radius: 35px;
    overflow: hidden;
    position: fixed;
    right: 50px;
    bottom: 0;
}

aside a:nth-of-type(1) {
    background: #fdd000 url(../img/icon_question.png) no-repeat center center;
    background-size: 30%;
    bottom: 210px;
}

aside a:nth-of-type(2) {
    background: #ffec3b url(../img/icon_kakaotalk.png) no-repeat top 15px center;
    background-size: 65%;
    bottom: 130px;
}

aside a:nth-of-type(3) {
    background: url(../img/icon_top.png) no-repeat center center;
    background-size: cover;
    bottom: 50px;
}

aside span {position: absolute; top: 0; left: 0;}

footer {
    background: #333;
    padding: 55px;
    display: flex;
    justify-content: center;
    flex-direction: column
}

footer ul {
    display: flex;
    justify-content: center;
    padding: 5px;
}

footer ul:nth-of-type(3) {
    padding: 30px;
}

footer ul li {
    color: #999;
    font-size: 0.833em;
}

footer ul li a {
    color: #999;
    font-size: 1em;
}

footer ul li:after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 0.8em;
    background: #999;
    margin: 0 10px;
    vertical-align: middle
}

footer ul li:last-of-type:after {
    content: "";
    display: none;
}

footer span {
    display: block;
    text-align: center;
    color: #999;
    font-size: 0.833em;
    padding: 10px;
}