@import url(common.css);
body {
    background: #fafafa;
}

.wrap {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background: #fafafa;
}

.visual_box {
    width: 100%;
    height: 226px;
    background: url(../img/bg_login.jpg) no-repeat center center;
    margin: 0 auto;
}

.visual_box div {
    width: 100%;
    height: 100%;
}

.visual_box div h2 {
    text-align: center;
    height: 100%;
    line-height: 226px;
    color: #fff;
    font-size: 3.333em;
}

.login_box {
    width: 550px;
    margin: 0 auto;
}

.login_box h3 {
    height: 150px;
    background: url(../img/dhLogo_b.png) no-repeat center center;
    background-size: 30%;
    margin-top: 10px;
}

.login_box form {
    text-align: right;
    padding-bottom: 70px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 25px;
}

.login_box form input {
    display: block;
}

.login_box form input::placeholder {
    font-size: 1.1em;
    color: #999;
}

.login_box form input[type="text"] {
    width: 100%;
    border: 1px solid #ccc;
    padding: 25px 40px;
    outline-style: none;
    margin-bottom: 20px;
}

.login_box form input[type="password"] {
    width: 100%;
    border: 1px solid #ccc;
    padding: 25px 40px;
    outline-style: none;
    margin-bottom: 15px;
}

.login_box form input[type="checkbox"] {
    display: none;
}

.login_box form input[type="submit"] {
    width: 100%;
    border: none;
    background: #fdd000;
    padding: 25px 40px;
    outline-style: none;
    margin-top: 40px;
    color: #fff;
    font-size: 1.389em;
    cursor: pointer;
}

.login_box form input[type="checkbox"] + label {
    display: inline-block;
    text-align: right;
    padding: 0 10px 0 27px;
    font-size: 0.9em;
    background: url(../img/checkbox_off.jpg) no-repeat left center;
    cursor: pointer;
}

.login_box form input[type="checkbox"]:checked + label {
    display: inline-block;
    text-align: right;
    padding: 0 10px 0 27px;
    font-size: 0.9em;
    background: url(../img/checkbox_on.jpg) no-repeat left center;
    cursor: pointer;
}

.login_box ul {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
}

.login_box ul li {}

.login_box ul li a {
    color: #999;
    font-size: 0.9em;
}

.login_box ul li:after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 0.7em;
    background: #ccc;
    margin: 0 10px;
    vertical-align: middle
}

.login_box ul li:last-of-type:after {
    content: "";
    display: none;
}

@media (max-width:650px) {
    .login_box {
        width: 450px;
    }
}

@media (max-width:480px) {
    .login_box {
        width: 330px;}
    .login_box h3 {
        display: none;
    }
    .login_box form {margin-top: 50px;}
    .visual_box {display: none;}
}